<%- include('../partials/adminPartials/adminHeader.ejs') %>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Coupon</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <form action="/admin/addCoupon" method="post">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Coupon Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="couponName"/>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Discount Type</label>
                                    <select class="form-select" name="discountType">
                                        <option value="Fixed Amount">Fixed Amount</option>
                                        <option value="Percentage">Percentage</option>
                                    </select>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Discount Amount</label>
                                            <div class="row gx-2">
                                                <input placeholder="$" type="Number" class="form-control" name="discountAmount"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Minimum Cart Amount</label>
                                            <input placeholder="$" type="Number" class="form-control" name="minCartAmount"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Max Discount Amount</label>
                                            <input placeholder="$" type="Number" class="form-control" name="maxDiscAmount"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Expire Date</label>
                                    <input type="date"  class="form-control" id="product_name" name="expired"/>
                                </div>
                                <button class="btn btn-md rounded font-sm hover-up">Add Coupon</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<%- include('../partials/adminPartials/adminFooter.ejs') %>